@import '../../css/variables';

.button-wrapper {
    margin: 0 auto 10px;
    text-align: center;

    textarea {
        float: left;
        display: block;
        margin-left: 20px;
        height: 60px;
        width: 70%;
        font-size: 1.6rem;
        border: 1px solid $faint-gray;
        border-radius: 10px;
        width: 256px;
        resize: none;
    }
    button {
        float: right;
        display: block;
        margin-right: 20px;
        line-height: 60px;
        width: 20%;
        font-size: 1.6rem;
        background-color: $black;
        color: $white;
        border-radius: 3px;
        border: none;
    }
}

/*
.button {
    display: inline-block;
    padding: 0 10px;
    line-height: 50px;
    font-size: 1.2rem;
    background-color: $black;
    color: $white;
    border-radius: 3px;
    border: none;
}
*/